<div class="login-page">
  <app-header></app-header>
  <div class="title">
    <h1>Bem vindo(a)</h1>
    <p>Use esse formulário para fazer login</p>
  </div>
  <div class="login-container">
    <div class="login-form">
      <div class="title-form">
        <h3>Área restrita</h3>
        <p>Digite seu e-mail e senha para entrar</p>
      </div>
      <form>
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="email" id="email" placeholder="Digite seu E-mail">
        </div>
        <div class="form-group">
          <label for="password">Senha</label>
          <input type="password" id="password" placeholder="Digite sua senha">
        </div>
        <div class="remember-me">
          <label>
            <input type="checkbox">
          </label>
          <a href="#">Esqueceu sua senha?</a>
        </div>
        <button type="submit">Entrar</button>
      </form>
    </div>
  </div>
  <app-footer></app-footer>
</div>