.title {
  position: absolute;
  top: 105px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    font-size: 48px;
    font-weight: 700;
  }
}

.login-page {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #F5F7F8;
  display: flex;
  justify-content: center;
}

.login-container {
  position: absolute;
  width: 446px;
  height: 480px;
  top: 277.5px;
  background: #FFFFFF;
  border-radius: 15px;

  .title-form {
    display: flex;
    flex-direction: column;
    gap: 4px
  }
}

.login-form {
  padding: 48px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  h3 {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 30px;
    color: #172B4D;
  }

  p {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    color: #8392AB;
  }
}

.form-group {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 4px;

  label {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    color: #172B4D;
  }

  input {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #E2E8F0;
    border-radius: 8px;
    color: black;

    &::placeholder {
      color: #A0AEC0;
    }
  }
}

.remember-me {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  gap: 8px;

  a {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    color: #172B4D;
    text-decoration: none;
  }
}

button {
  width: 100%;
  padding: 10px;
  background: #5E72E4;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}