<div class="page">
  <div class="container"></div>
  <div class="panel">
    <header>
      <p class="logo">Vaga Front-end AchieveMore</p>
      <div>
        <ul>
          <li>Institucional <img src="assets/icons/arrow-down.png" alt="icone de seta pra baixo"></li>
          <li>Produtos <img src="assets/icons/arrow-down.png" alt="icone de seta pra baixo"></li>
          <li>Contato</li>
        </ul>
      </div>
    </header>
  </div>

  <div class="title">
    <h1>Bem vindo(a)</h1>
    <p>Use esse formulário para fazer login</p>
  </div>

  <div class="login">
    <div class="login-form">
      <div class="form-title">
        <h1>Área Restrita</h1>
        <p>Digite seu e-mail e senha para entrar</p>
      </div>

      <div class="form-group">
        <label for="email">E-mail</label>
        <input appInputStyle id="email" type="text" placeholder="Digite seu E-mail" />
      </div>

      <div class="form-group">
        <label for="password">Senha</label>
        <input appInputStyle id="password" type="password" placeholder="Digite sua senha" />
      </div>

      <div class="form-toogle">
        <app-toggle></app-toggle>
        <p>Esqueceu sua senha</p>
      </div>

      <button>Entrar</button>
    </div>
  </div>

  <app-footer [isLogged]="false"></app-footer>
</div>