<div class="page">
  <div class="container"></div>
  <div class="panel">
    <header>
      <p class="logo">Vaga Front-end AchieveMore</p>
      <div>
        <ul>
          <li>Institucional <img src="assets/icons/arrow-down.png" alt="icone de seta pra baixo"></li>
          <li>Produtos <img src="assets/icons/arrow-down.png" alt="icone de seta pra baixo"></li>
          <li>Contato</li>
        </ul>
      </div>
    </header>
  </div>

  <div class="title">
    <h1>Bem vindo(a)</h1>
    <p>Use esse formulário para fazer login</p>
  </div>
</div>