@mixin footer() {
  position: absolute;
  bottom: 0;

  display: flex;

  width: 100%;

  color: #8392AB;
}

.login-footer {
  @include footer();

  justify-content: center;
  flex-direction: column;
  gap: 30px;

  padding-bottom: 15px;

  .login-politics {
    display: flex;
    justify-content: center;
    align-items: center;

    div {
      display: flex;
      justify-content: space-between;

      width: 377px;
    }
  }

  .login-all-rights {
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
  }
}

.dashboard-footer {
  @include footer();

  justify-content: space-between;
  align-items: center;

  padding: 15px 15px 15px 334px;

  font-size: 14px;
  line-height: 21px;

  .dashboard-politics {
    display: flex;
    gap: 28px;

    width: 314px;
  }

  .dashboard-all-rights {
    font-size: 14px;
    line-height: 21px;
  }
}