/* CSS Reset 2025 */

/* Reset básico */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Tipografia */
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  font-weight: normal;
}

/* Listas */
ul,
ol {
  list-style: none;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Imagens e mídia */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Formulários */
input,
button,
textarea,
select {
  font: inherit;
  border: none;
  background: none;
  color: inherit;
}

/* Tabelas */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Acessibilidade */
:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

/* Melhorias Modernas */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  container-type: inline-size;
}

/* Adicionando variaveis de cores para modo dark e light */
:root {
  color-scheme: light dark;
  --background-color: white;
  --text-color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: black;
    --text-color: white;
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}