<div class="page">
  <div class="container">
    <div class="menu-container">
      <div class="menu">
        <h1>Vaga Front-end AchieveMore</h1>
        <div class="divider"></div>
        <app-sidebar></app-sidebar>
      </div>
    </div>

    <div class="itens-container">
      <header>
        <div class="settings">
          <div class="profile">
            <img src="assets/icons/person.png">
            <p>Rodrigo Perreira</p>
          </div>
          <img src="assets/icons/engine.png">
          <img src="assets/icons/notification.png">
        </div>
      </header>

      <div class="table-container">
        <div class="title">
          <h2>Listagem de usuários</h2>
          <p>Visualização dos usuários cadastrados.</p>
        </div>
        <div class="filter">
          <div class="options">
            <select (change)="onPerPageChange($event)">
              <option value="5" selected>5</option>
              <option value="10" selected>10</option>
              <option value="25">25</option>
              <option value="50">50</option>
            </select>
            <p>entradas por página</p>
          </div>
          <input appInputStyle type="text" placeholder="Pesquise aqui...">
        </div>
        <div class="table">
          <table>
            <thead>
              <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td>{{ user.id }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName}}</td>
                <td>{{ user.email}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="pagination">
          <app-pagination [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [currentPage]="currentPage"
            (pageChange)="onPageChange($event)"></app-pagination>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer [isLogged]="true"></app-footer>