@mixin font-footer {
  font-weight: 400;
  font-size: 14;
  color: #8392AB;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  position: absolute;
  width: 377px;
  height: 91px;
  left: calc(50% - 377px/2 - 0.5px);
  bottom: 16px;
}

.private-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100vw - 397px);
  bottom: 16px;
  position: fixed;

  .politics {
    display: flex;
    align-items: center;
    gap: 28px;
    color: #8392AB;
  }
}

.links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 50px;

  a {
    @include font-footer();
    font-size: 16px;
  }
}

.copyright {
  @include font-footer();
}