<div class="private">
  <div class="top"></div>
  <div class="bottom"></div>
</div>

<div class="container">
  <div class="menu">
    <h1 class="heading">Vaga Front-end AchieveMore</h1>
    <div class="divider"></div>
  </div>

  <div class="right-side">
    <div class="header">
      <div class="path">
        <div class="titles">
          <p class="path">Gerenciar /</p>
          <p class="title">Usuários</p>
        </div>
        <img src="assets/menu.png" alt="icone de menu">
      </div>
      <div class="infos">
        <input type="text" placeholder="Digite aqui...">
        <div class="info-menu">
          <div class="person">
            <img src="assets/person.png" alt="icone de pessoa">
            <p>Rodrigo Perreira</p>
          </div>
          <img src="assets/engine.png" alt="icone de engrenagem">
          <img src="assets/notification.png" alt="icone de notification">
        </div>
      </div>
    </div>
    <div class="table">
      <div class="titles">
        <h1>Listagem de usuários</h1>
        <h2>Visualização dos usuários cadastrados.</h2>
      </div>
      <div class="filters">
        <div class="pages">
          <select (change)="changePage($event)">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
          </select>
          <p>entradas por página</p>
        </div>
        <input placeholder="Pesquise aqui..." />
      </div>
      <div>
      </div>
      <table class="registers">
        <thead>
          <tr>
            <th>
              First Name
            </th>
            <th>
              Last Name
            </th>
            <th>
              Email
            </th>
          </tr>
        </thead>
        <tbody>
          @for (item of this.registerService.registers()?.data; track item.id) {
          <tr>
            <td>{{ item.first_name }}</td>
            <td>{{ item.last_name }}</td>
            <td>{{ item.email }}</td>
          </tr>
          }
        </tbody>
      </table>
      <app-pagination></app-pagination>
    </div>
    <app-footer [inPagePrivate]="isPrivate"></app-footer>
  </div>
</div>