$heigth: 236px;

@mixin border-botom {
  border-bottom: 1px solid rgba(222, 226, 230, 1);
}

@mixin input-style {
  width: 240px;
  height: 42px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 1);
  padding-left: 16px;
  color: #000;
  border: 1px solid #E9ECEF;

  &::placeholder {
    color: #8392AB;
  }
}

.private {
  width: 100vw;
  height: 100vh;

  .top {
    width: 100%;
    background-color: #5E72E4;
    height: $heigth;
  }

  .bottom {
    width: 100%;
    height: calc(100% - $heigth);
    background-color: #F5F7F8;
  }
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px;
  display: flex;
  z-index: 10;

  .menu {
    width: 329px;
    height: 750px;
    padding: 16px;
    background-color: #FFF;
    border-radius: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;

    .heading {
      color: #000;
      font-size: 14px;
      font-weight: 700;
      padding: 24px 0 8px 0;
    }

    .divider {
      border: 1px solid;
      border-image-source: linear-gradient(90deg, rgba(224, 225, 226, 0) 0%, #E0E1E2 49.52%, rgba(224, 225, 226, 0.15625) 99.04%);
    }

    .item {
      p {
        color: #000;
      }
    }
  }

  .right-side {
    padding: 0 32px;
    width: calc(100vw - 329px);

    .header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 48px;

      .path {
        width: 193px;
        display: flex;
        align-items: center;

        .titles {
          display: flex;
          flex-direction: column;

          .path {
            font-size: 14px;
            color: rgba(255, 255, 255, 0.5);
          }

          .title {
            color: #FFF;
            font-weight: 700;
          }
        }
      }

      .infos {
        display: flex;
        align-items: center;
        gap: 24px;

        input {
          @include input-style()
        }

        .info-menu {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 240px;

          .person {
            display: flex;
            align-items: center;
            gap: 8px
          }
        }
      }
    }

    .table {
      color: #000;
      background-color: #FFF;
      border-radius: 12px;
      min-height: 190px;

      .titles {
        padding: 24px;
        @include border-botom();

        h1 {
          font-size: 20px;
          font-weight: 600;
        }

        h2 {
          font-size: 14px;
        }
      }

      .filters {
        @include border-botom();
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 24px;

        .pages {
          display: flex;
          gap: 4px;
          align-items: center;

          select {
            color: #8392AB;
            font-size: 14px;
            border-radius: 4px;
            padding: 6px;
            border: 1px solid #E9ECEF;
            position: relative;
          }

          p {
            font-size: 12px;
            color: #8392AB;
          }
        }

        input {
          @include input-style()
        }
      }
    }
  }
}

table {
  width: 100%;

  tr {
    border-bottom: 1px solid rgb(222, 226, 230);
  }

  td {
    font-size: 14px;
    color: #8392AB;
    line-height: 21px;
    padding: 16px 24px;
  }

  th {
    color: #8392AB;
    font-weight: 700;
    font-size: 10px;
    text-align: left;
    padding: 12px 24px;
  }
}